import(stats)
export(create_octaves, dgambin, gambin_exp, fitGambin, AICc)
S3method(logLik, gambin)
S3method(AIC, gambin)
S3method(AICc, gambin)
S3method(BIC, gambin)
S3method(print, gambin)
S3method(summary, gambin)
S3method(print, summary.gambin)
S3method(predict, gambin)
S3method(confint, gambin)
S3method(plot, gambin)
S3method(nobs, gambin)
